/*
==========
通知通告栏
==========
*/
#notice_wrapper{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	height: 350px;
}

.icon-urgent{
	color: #e74c3c;
	padding-right: 10px;
}

.icon-important{
	color: #f39c12;
	padding-right: 10px;
}

.icon-new{
	color: #3498db;
	padding-right: 10px;
}

.notice-item{
	display: block;
	border-top: 1px solid #e5e5e5;
	/*border-top: 1px solid #3498db;*/
	padding: 0.5em;
	line-height: 24px;
	font-size: 12px;
	overflow: auto;
}

.notice-item-odd{
	background-color: #fafafa;
}

/*.notice-title:before{
	content: "·";
	color: #3498db;
	padding-right: 5px;
	font-weight: bolder;
}*/
.notice-title{
	display: inline;
	font-size: 14px;
}

.notice-item a{
	display: block;
	font-size: 14px;
}

.notice-date{
	display: inline-block;
	color: #999;
	float: right;
}

.notice-new{
	color: #3498db;
	/*color: #e74c3c;*/
}


/*
==========
待办事项
==========
*/
#to_do_box{
	/*min-height: 600px;*/
	background-color: #f5f5f5;
}

#to_do_header{
	position: relative;
}

#new_request_btn{
	position: absolute;
	right: 15px;
	top: 10px;
	display: block;
	float: right;
	line-height: 30px;
}

#plus_icon{
	color: #f1c40f;
	/*color: #fff;*/
}

#to_do_list{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 5px;
	height: 100%;
	border: 1px solid #e5e5e5;
	background-color: #fff;
}

#to_do_count{
	display: block;
	float: left;
	height: 20px;
	min-width: 20px;
	margin-left: -10px;
	margin-top: -10px;
	/*margin-left: 10px;*/
	border-radius: 10px;
	background-color: #e74c3c;
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
}

/*
==========
已办事项
==========
*/
#done_box{
	/*min-height: 600px;*/
}

#done_list{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 5px;
	height: 100%;
	/*border: 1px solid #e5e5e5;*/
	/*background-color: #fff;*/
}


/*
=============
事项查询
=============
*/

#process_query_box{
	margin-top: 15px;
}

#process_query_selector_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 240px;
	height: 40px;
}

#process_query_selector{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 240px;
	height: 40px;
	line-height: 40px;
	text-indent: 1em;
	font-size: 14px;
	color: #999;
	border: 1px solid #ccc;
}

#process_query_btn{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
=========
新的申请
=========
*/
#new_task_box{
	margin-top: 15px;
}

#new_task_btn{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

.main .content-header{
	font-size: 18px;
}
